body {
  background-color: #e1f3ff;
}

/*User select menu page*/
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@1,600&display=swap");

.container11 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  min-height: 55vh;
  letter-spacing: 5px;
}

.btn-1 {
  width: 300px;
  height: 300px;
  color: white;
  background-color: #80bfff;
  letter-spacing: 5px;
  font-size: 25px;
  font-family: sans-serif;
  border-radius: 12px;
  box-shadow: inset 0 -0.6em 1em -0.35em rgba(0, 0, 0, 0.17),
    inset 0 0.6em 2em -0.3em rgba(255, 255, 255, 0.15),
    inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12);
}

.btn-1:hover {
  color: black;
}

.btn-2 {
  width: 300px;
  height: 300px;
  color: white;
  background-color: #0080ff;
  letter-spacing: 5px;
  font-size: 25px;
  font-family: sans-serif;
  border-radius: 12px;
  box-shadow: inset 0 -0.6em 1em -0.35em rgba(0, 0, 0, 0.17),
    inset 0 0.6em 2em -0.3em rgba(255, 255, 255, 0.15),
    inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12);
}

.btn-2:hover {
  color: black;
}

/*Admin view - student delete page*/
.pagetitle_student_delete {
  text-align: center;
  font-size: 30px;
  text-decoration-color: #0082e6;
}

/*Placeholder font size*/
::-webkit-input-placeholder {
  font-size: 16px !important;
}

.btn-width {
  width: 100px !important;
  height: 40px !important;
}

.navcolor {
  background: #0066ff;
}

/*Homepage's slideshow styling*/
.slidecenter {
  margin-left: auto;
  margin-right: auto;
}

.voteimageslide {
  display: none;
  width: 100%;
  height: auto;
}

#left,
#right {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: 100px;
  height: auto;
  margin-top: -22px;
  padding: 16px;
  font-weight: bold;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

#right {
  right: 0;
  border-radius: 3px 0 0 3px;
}

#left:hover,
#right:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/*Grid for small information section after the slide in Homepage*/
.grid-container1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 80px;
  grid-auto-rows: minmax(10px, auto);
}

.whyvote {
  grid-column: 1;
  grid-row: 1;
  text-align: center;
  font-size: 25px;
}

.whyvotedetail {
  grid-column: 1;
  grid-row: 2;
  text-align: right;
  font-size: 18px;
}

.votehere {
  grid-column: 2;
  grid-row: 1;
  text-align: center;
  font-size: 25px;
}

.voteheredetail {
  grid-column: 2;
  grid-row: 2;
  text-align: left;
  font-size: 18px;
}

@media (max-width: 480px) {
  /*Grid for small information section after the slide in Homepage*/
  .grid-container1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1fr 0.5fr 1fr 0.5fr 1fr;
    gap: 10px;
    grid-template-areas:
      "whyvote"
      "whyvotedetail"
      "votehere"
      "voteheredetail";
  }

  .whyvote {
    grid-area: whyvote;
    text-align: center;
    font-size: 15px;
  }

  .whyvotedetail {
    grid-area: whyvotedetail;
    text-align: left;
    font-size: 12px;
  }

  .votehere {
    grid-area: votehere;
    text-align: center;
    font-size: 15px;
  }

  .voteheredetail {
    grid-area: voteheredetail;
    text-align: left;
    font-size: 12px;
  }
}

/*Page Title Styling*/
.pagetitle {
  text-align: center;
  font-size: 30px;
}

/*ABOUT US PAGE STYLING*/
.aboutusdetails {
  font-size: 18px;
}

.imgcenter {
  width: 100%;
  height: auto;
}
