body {
  background-color: #e1f3ff;
}

/*User select menu page*/
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@1,600&display=swap");

.container11 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  min-height: 55vh;
  letter-spacing: 5px;
}

.btn-1 {
  width: 300px;
  height: 300px;
  color: white;
  background-color: #80bfff;
  letter-spacing: 5px;
  font-size: 25px;
  font-family: sans-serif;
  border-radius: 12px;
  box-shadow: inset 0 -0.6em 1em -0.35em rgba(0, 0, 0, 0.17),
    inset 0 0.6em 2em -0.3em rgba(255, 255, 255, 0.15),
    inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12);
}

.btn-1:hover {
  color: black;
}

.btn-2 {
  width: 300px;
  height: 300px;
  color: white;
  background-color: #0080ff;
  letter-spacing: 5px;
  font-size: 25px;
  font-family: sans-serif;
  border-radius: 12px;
  box-shadow: inset 0 -0.6em 1em -0.35em rgba(0, 0, 0, 0.17),
    inset 0 0.6em 2em -0.3em rgba(255, 255, 255, 0.15),
    inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12);
}

.btn-2:hover {
  color: black;
}

/*Admin view - student delete page*/
.pagetitle_student_delete {
  text-align: center;
  font-size: 30px;
  text-decoration-color: #0082e6;
}

/*Placeholder font size*/
::-webkit-input-placeholder {
  font-size: 16px !important;
}

.btn-width {
  width: 100px !important;
  height: 40px !important;
}

.navcolor {
  background: #0066ff;
}

/*Homepage's slideshow styling*/
* {
	box-sizing: border-box;
}

/* Slideshow container */
.slideshow-container{
	position: relative;
	margin: auto;
}

/* Hide images by default */
.mySlides {
	display: none;
}

/* Next & Previous Button */
.prev , .next{
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 16px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
	
}

/* Next button at right side */
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
	
}


/* Hover effect */
.prev:hover , .next:hover{
	background-color: rgba(0,0,0,0.8);
	
}

/* caption styling */
.text{
	color: #f2f2f2;
	font-size: 18px;
	font-family: verdana;
	font-weight: bold;
	padding: 8px 12px;
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: center;
	
}

/* Number text styling */
.numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
	
}

/* Dots below image slider styling */
.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
	
}

.active , .dot:hover{
	background-color: #717171;
	
}

/* Animation for fading */
.fade {
	animation-name: fade;
	animation-duration: 1.5s;
	
}

@keyframes fade{
	from {opacity: .4}
	to {opacity: 1}
}



/*Grid for small information section after the slide in Homepage*/
.grid-container1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 80px;
  grid-auto-rows: minmax(10px, auto);
}

.whyvote {
  grid-column: 1;
  grid-row: 1;
  text-align: center;
  font-size: 25px;
}

.whyvotedetail {
  grid-column: 1;
  grid-row: 2;
  text-align: right;
  font-size: 18px;
}

.votehere {
  grid-column: 2;
  grid-row: 1;
  text-align: center;
  font-size: 25px;
}

.voteheredetail {
  grid-column: 2;
  grid-row: 2;
  text-align: left;
  font-size: 18px;
}





@media (max-width: 480px) {
  /*Grid for small information section after the slide in Homepage*/
  .grid-container1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1fr 0.5fr 1fr 0.5fr 1fr;
    gap: 10px;
    grid-template-areas:
      "whyvote"
      "whyvotedetail"
      "votehere"
      "voteheredetail";
  }

  .whyvote {
    grid-area: whyvote;
    text-align: center;
    font-size: 15px;
  }

  .whyvotedetail {
    grid-area: whyvotedetail;
    text-align: left;
    font-size: 12px;
  }

  .votehere {
    grid-area: votehere;
    text-align: center;
    font-size: 15px;
  }

  .voteheredetail {
    grid-area: voteheredetail;
    text-align: left;
    font-size: 12px;
  }
  
}



/*Page Title Styling*/
.pagetitle {
  text-align: center;
  font-size: 30px;
}

/*ABOUT US PAGE STYLING*/
.aboutusdetails {
  font-size: 18px;
}

.imgcenter {
  width: 100%;
  height: auto;
}

/*About Us Page*/
.team-section88{	
	min-height: 100vh;
	padding:70px 15px 30px;
	background:url(pictures/fortnite2.jpg);
	background-repeat: no-repeat;


	background-size:cover;
}

.container88{
	max-width: 1170px;
	margin:auto;
}

.row88{
	display: flex;
	flex-wrap: wrap;
}

.team-section88 .team-items88{
	
	flex-basis: 100%;
	max-width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.team-section88 .team-items88 .item88{
 flex-basis: calc(25% - 30px);
 max-width: calc(25% - 30px);
 transition: all .5s ease;
 margin-bottom: 40px;
}
.team-section88 .team-items88 .item88 img{
	display: block;
	width: 100%;
	border-radius: 8px;
	height: 450px;
}

.team-section88 .team-items88 .item88 .inner88{
	position: relative;
	z-index: 11;
	padding:0 15px;
}
.team-section88 .team-items88 .item88 .inner88 .info88{
	background-color:#009688;
	text-align: center;
	padding: 20px 15px;
	border-radius:8px;
	transition: all .5s ease;
	margin-top: -40px;
}
.team-section88 .team-items88 .item88:hover  .info88{
    transform: translateY(-20px);
}
.team-section88 .team-items88 .item88:hover{
 transform: translateY(-10px);	
}
.team-section88 .team-items88 .item88 .inner88 .info88 h5{
	margin:0;
	font-size: 18px;
	font-weight: 600;
	color:#ffffff;
}
.team-section88 .team-items88 .item88 .inner88 .info88 p{
	font-size: 16px;
	font-weight: 400;
	color:#c5c5c5;
	margin:10px 0 0;
}

.team-section88 .team-items88 .item88 .inner88 .info88 .social-links88{
	padding-top: 15px;
}

.team-section88 .team-items88 .item88 .inner88 .info88 .social-links88 a{
	display: inline-block;
	height: 32px;
	width: 32px;
	background-color: #ffffff;
	color:#009688;
	border-radius: 50%;
	margin:0 2px;
	text-align: center;
	line-height: 32px;
	font-size:16px;
	transition: all .5s ease;
}

.team-section88 .team-items88 .item88 .inner88 .info88 .social-links88 a:hover{
	box-shadow: 0 0 10px #000;
}

@media(max-width: 991px){
	.team-section88 .team-items88 .item88{
      flex-basis: calc(50% - 30px);
       max-width: calc(50% - 30px);

   }
}

@media(max-width: 767px){
	.team-section .team-items .item{
      flex-basis: calc(100%);
       max-width: calc(100%);

   }
}